<launch>
    <param name="camera_topic" value="/head_xtion/rgb/image_raw"/>
    <param name="yolo_topic" value="/darknet_ros/bounding_boxes"/>
    <param name="people_topic" value="/people"/>
    <param name="legs_topic" value="/legs_topic"/>
    <param name="leg_distance" value="0.5"/>
	<node  name="wm_data_collector"	pkg="wm_data_collector"	type="wm_data_collector" output="screen"/>
</launch>
